
<div class="container", style="text-align: center;">
    <img src="https://assets.website-files.com/5d55f1425cb6b7a18aa77528/5d55f8a49a649a59aab64b1c_airgarage-logo.png" ,
                                      style="width:300px">
    <h2>Please enter a city and state below, and AirGarage will tell you the worst rated parking garages around!</h2>


        <form action="/form" method="POST">
        <div class="form group">

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">City, State</label>
                    <input type="text" class="form-control" id="cityStateID" placeholder="Los Angeles, CA" name="cityState">
                </div>

                <br><br/>

                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Submit</button>
                </div>

        </div>
        </form>


</div>